.result {
border: 1px solid;
border-radius: 3%;
display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
margin: 5px;

  img {
    border-radius: 30%;
  }

  span {
    padding: 0px;
    font-size: 17px;
    font-weight: bold;
  }

  .tablo {
    font-size: 25px;
    font-weight: bolder;
  }

  .resultBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100px;
    padding: 20px;
  }

  .vsBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 130px;
  min-width: 180px;
  padding: 0px;
  }

  a {
padding: 0px;
  }

  .playersNames {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 450px;
    padding: 15px;
  }
}




