.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(61, 212, 161);
}

body {
  margin: 0;
  padding: 0;
}

.cards {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
