.App {
  text-align: center;
  background-color: rgb(61, 212, 161);
}

.cards {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  nav {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  a {
    
    color: red
  }
}

.active {
  color: green;
}