* {
  margin: 0;
  padding: 20px;
  font-family: system-ui;
  background-color: rgb(224, 227, 226);
  
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.header {
  background: #ffffff;
  max-width: 1080px;
  padding: 0;
  
    h1 {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      background: #ffffff;
      margin: 10px auto;
      padding: 0;
    }
}

.cards {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 10px auto;
  
}


h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
